body {
    font-family: sans-serif;
    font-size: 16px;
    background: #c0c0c0;
}

.divMenu {
    position: fixed;
    top: 4em;
    left: 6em;
    width: 15em;
    border: 2px solid teal;
    background: #f0f8ff;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    line-height: 1.5em;
}

.divContenido {
    text-align: justify;
    margin: 4em;
    margin-left: 26em;
    margin-right: 22em;
    border: 2px solid maroon;
    background: #ffffe0;
    box-sizing: border-box;
    padding: 0.5em 2em;
    margin-bottom: 2em;
}

.divFooter {
    text-align: justify;
    margin: 4em;
    margin-top: 0em;
    margin-left: 20em;
    margin-right: 16em;
    border: 2px solid teal;
    background: #f0f8ff;
    box-sizing: border-box;
    padding: 1em 2em;
}

h1 {
    border-bottom: 1px solid black;
}

h3 {
    margin-top: 2em;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

a {
    color: blue;
}

a:hover {
    color: lightgray;
}

@media only screen and (max-width: 800px) {
    .divMenu {
        position: initial;
        width: initial;
        border: 2px solid teal;
        background: #f0f8ff;
        text-align: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        line-height: 1.5em;
    }
    .divContenido {
        position: initial;
        margin: initial;
        margin-top: 0.5em;
        width: initial;
    }
    .divFooter {
        position: initial;
        margin: initial;
        margin-top: 0.5em;
        width: initial;
    }
    .rbr {
        display: none;
    }
}

.simpleWay {
    height: auto;
    width: 100%;
    max-width: 720px;
}

.subtext {
    font-size: 0.8em;
}